<div class="card h-100">
  <img
    src="{{ product.thumbnail }}"
    class="card-img-top"
    alt="{{ product.id }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description | cutText }}</p>
    <div class="d-flex justify-content-between">
      <button
        (click)="addToPrefe(product)"
        [disabled]="isFav(product.id)"
        class="btn btn-primary"
      >
        Aggiungi ai preferiti
      </button>
    </div>
  </div>
</div>
